@if (isLoading) {
  <div class="mt-4" style="text-align: center;">
    <app-loading-spinner></app-loading-spinner>
  </div>
}
@if (error) {
  <div class="alert alert-danger mt-4" role="alert">
    {{ error }}
    <br>
      <a  [routerLink]="['/prodin', 'list']"
      class="alert-link">Kembali</a>
    </div>
  }
  @if (!isLoading && !error) {
    <div class="mt-4" style="margin-bottom: 50px;" >
      <div class="row">
        <div class="col-sm-10 col-md-10 col-xl-10 offset-sm-1 offset-md-1 offset-xl-1">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-xl-12" style="margin-bottom: 20px;">
              <div class="d-flex justify-content-between">
                <div class="p-2">
                  <button type="button" class="btn btn-danger" style="margin-right: 15px;" (click)="onCancel()">
                    <i class="bi bi-backspace-fill"></i> Kembali</button>
                  </div>
                  <div class="p-2">
                    <button type="button" class="btn btn-warning"
                      [routerLink]="['/prodin', 'list', prodin.ids, 'form']"
                      [queryParams]="{edit: 1}"><i class="bi bi-pencil-square"></i> Ubah</button>
                    </div>
                  </div>
                </div>
                <hr>
                  <div class="col-sm-12 col-md-12 col-xl-12">
                    <h4 class="text-primary">Rincian Produksi Intelijen</h4>
                  </div>
                </div>
                <ul class="list-group">
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-sm-4 col-md-4 col-xl-4">
                        <p class="fw-bold">Jenis Produksi Intelijen</p>
                      </div>
                      <div class="col-sm-8 col-md-8 col-xl-8">
                        : {{ prodin.jenisProdukIntelijen | prodinPipe: 'deskripsi' }}
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-sm-4 col-md-4 col-xl-4">
                        <p class="fw-bold">Nomor & Tanggal Surat</p>
                      </div>
                      <div class="col-sm-8 col-md-8 col-xl-8">
                        : {{ prodin.nomorProduk }} tgl. {{ prodin.tanggalProduk| date:'dd-MM-yyyy' }}
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-sm-4 col-md-4 col-xl-4">
                        <p class="fw-bold">Subdit / Seksi / SubSeksi </p>
                      </div>
                      <div class="col-sm-8 col-md-8 col-xl-8">
                        : {{ prodin.sektor | sektorPipe: 'subbid' }} ({{ prodin.sektor | sektorPipe: 'bidang' }})
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-sm-4 col-md-4 col-xl-4">
                        <p class="fw-bold">Perihal</p>
                      </div>
                      <div class="col-sm-8 col-md-8 col-xl-8">
                        : {{ prodin.perihal }}
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-sm-4 col-md-4 col-xl-4">
                        <p class="fw-bold">Disposisi Pimpinan</p>
                      </div>
                      <div class="col-sm-8 col-md-8 col-xl-8">
                        : {{ prodin.disposisiPimpinan }}
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-sm-4 col-md-4 col-xl-4">
                        <p class="fw-bold">Keterangan</p>
                      </div>
                      <div class="col-sm-8 col-md-8 col-xl-8">
                        : {{ prodin.keterangan }}
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-sm-4 col-md-4 col-xl-4">
                        <p class="fw-bold">URL File</p>
                      </div>
                      <div class="col-sm-8 col-md-8 col-xl-8">
                        : @if (prodin.urlFile) {
                        <a href="{{ prodin.urlFile }}"
                          target="_blank"
                        >{{ prodin.ids }}</a>
                      }
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      }