<div class="d-flex justify-content-center"><h4 class="text-success">{{ title }}</h4></div>

@if (isLoading) {
  <div class="mt-4" style="text-align: center;">
    <app-loading-spinner></app-loading-spinner>
  </div>
}
@if (error) {
  <app-danger-alert [message]="error"></app-danger-alert>
}
@if (!isLoading && !error) {
  <div class="mt-4">
    <div class="d-flex bd-highlight">
      <div class="p-2 w-100 bd-highlight">
        <button type="button" class="btn btn-success" (click)="onNewRKI()">
          <i class="bi bi-window-plus"></i> Tambah Data</button>
        </div>
        <div class="p-2 w-100 bd-highlight">
          <div class="row">
            <div class="col-md-6 col-sm-6 mb-1">
              @if (!isSearching) {
                <select
                  (change)="updateMonthSelected($any($event.target).value)"
                  class="form-select"
                  aria-label=".form-select-sm example">
                  @for (m of month; track m; let i = $index) {
                    <option
                    [value]="i + 1" [selected]="(i + 1) === (currentMonth)">{{ m }}</option>
                  }
                </select>
              }
              @if (isSearching) {
                <div class="input-group">
                  <input #searchData
                    type="text"
                    name="searchData"
                    class="form-control"
                    placeholder="Cari di sini..."
                    (keyup.enter)="searchingRKI(searchData.value)">
                    <button class="btn btn-primary" type="button" (click)="searchingRKI(searchData.value)"><i class="bi bi-search"></i></button>
                  </div>
                }
              </div>
              <div class="col-md-4 col-sm-4 mb-1">
                <select (change)="updateYearSelected($any($event.target).value)" class="form-select" aria-label=".form-select-sm example">
                  @for (y of year | reverse; track y; let i = $index) {
                    <option
                    [value]="y" [selected]="currentYear === y">{{ y }}</option>
                  }
                </select>
              </div>
              <div class="col-md-2 col-sm-2">
                @if (!isSearching) {
                  <button type="button" class="btn btn-danger" placement="left" ngbTooltip="Masuk ke mode pencarian"
                    (click)="onSearchingMode()"><i class="bi bi-search"></i></button>
                  }
                  @if (isSearching) {
                    <button type="button" class="btn btn-success" placement="left" ngbTooltip="Kembali ke tampilan data berdasarkan bulan"
                      (click)="onDateTimeShowData()"><i class="bi bi-calendar2-week"></i></button>
                    }
                  </div>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table table-striped table-sm mt-4 table-bordered">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Waktu Diterima</th>
                    <th scope="col">Sumber / Bapul</th>
                    <th scope="col">Nilai Data / Informasi</th>
                    <th scope="col">Uraian Peristiwa / Masalah</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  @for (r of rki; track r; let i = $index) {
                    <tr>
                      <td class="align-top">{{ i + 1 }}</td>
                      <td class="align-top">{{ r.tanggalWaktuDiterima | date: 'dd-MM-yyyy' }}<br>{{ r.jamWaktuDiterima }}</td>
                      <td class="align-top">{{ r.sumberBapul }}</td>
                      <td class="align-top">{{ r.nilaiDataInformasi }}</td>
                      <td class="align-top">{{ r.uraianPeristiwaMasalah | shorten: 255 }}</td>
                      <td class="align-top">
                        <a class="dropdown-item text-primary"
                          [routerLink]="['/rki', 'list', r.ids, 'detail']"
                          [queryParams]="{ bidang: namaBidang }"><i class="bi bi-list-check"></i> Detail</a>
                          <a class="dropdown-item text-success"
                            [routerLink]="['/rki', 'list', r.ids, 'form']"
                            [queryParams]="{ edit: 1, bidang: namaBidang }">
                            <i class="bi bi-pencil-square"></i> Ubah</a>
                            <a class="dropdown-item text-danger" (click)="openModalDelete(r.ids)" style="cursor: pointer;"><i
                            class="bi bi-trash3-fill"></i> Hapus</a>
                          </td>
                        </tr>
                      }
                      <router-outlet></router-outlet>
                    </tbody>
                  </table>
                </div>
                @if (rki.length !== 0) {
                  <div class="d-flex bd-highlight" style="margin-bottom: 10px;">
                    <div class="p-2 w-100 bd-highlight">
                      <ngb-pagination
                        [(page)]="pageNumber"
                        [pageSize]="pageSize"
                        [collectionSize]="totalElements"
                        [maxSize]="5"
                      [boundaryLinks]="true" (pageChange)="loadDataRKI()"></ngb-pagination>
                    </div>
                    <div class="p-2 flex-shrink-1 bd-highlight">
                      Tampilkan:
                    </div>
                    <div class="p-2 bd-highlight">
                      <select (change)="updatePageSize($any($event.target).value)">
                        <option value="5" [selected]="pageSize === 5">5</option>
                        <option value="10" [selected]="pageSize === 10">10</option>
                        <option value="20" [selected]="pageSize === 20">20</option>
                        <option value="50" [selected]="pageSize === 50">50</option>
                      </select>
                    </div>
                  </div>
                }
                @if (rki.length === 0) {
                  <div>
                    <app-no-data-alert></app-no-data-alert>
                  </div>
                }
              </div>
            }
            <app-toast aria-live="polite" aria-atomic="true"></app-toast>
