#map {
  /* Tentukan tinggi (height) agar peta terlihat */
  height: 600px; 
  width: 100%;
}

/* Custom styling untuk marker icon dengan shadow/outline */
:host ::ng-deep .custom-marker-icon {
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.5)) 
          drop-shadow(-1px -1px 2px rgba(255, 255, 255, 0.3));
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* Alternatif: Gunakan text-shadow untuk outline effect */
:host ::ng-deep .custom-marker-icon img {
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.6))
          drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.4));
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}