@if (isLoading) {
  <div class="mt-4" style="text-align: center;">
      <app-loading-spinner></app-loading-spinner>
  </div>
}
@if (error) {
  <app-danger-alert [message]="error"></app-danger-alert>
}

<div class="row">
  <div class="col-md-10 mb-3">
    <div class="w-100 shadow rounded">
      <div id="map"></div> 
    </div>
  </div>
  <div class="col-md-2 col-sm-8 mb-3">
    <h6 class="text-muted">Keterangan Gambar:</h6> 
    <ul class="list-group">
      <li class="list-group-item d-flex align-items-center">
        <div class="image-parent me-2">
            <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/don_quixote.jpg" class="img-fluid" alt="quixote">
        </div>
        Don Quixote
      </li>
      <li class="list-group-item d-flex align-items-center">
        <div class="image-parent me-2">
          <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/as_I_lay.jpg" class="img-fluid" alt="lay">
        </div>
        As I Lay Dying 
      </li>
      <li class="list-group-item d-flex align-items-center">  
        <div class="image-parent me-2">
          <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/things_fall_apart.jpg" class="img-fluid" alt="things">
        </div>
        Things Fall Apart
      </li>
    </ul>
</div>
</div>


