<div class="d-flex justify-content-center"><h4 class="text-success">{{ title }}</h4></div>

<div class="mt-4" *ngIf="isLoading" style="text-align: center;">
    <app-loading-spinner></app-loading-spinner>
</div>
<app-danger-alert *ngIf="error" [message]="error"></app-danger-alert>
<div class="mt-4" *ngIf="!isLoading && !error">
    <div class="d-flex bd-highlight">
        <div class="p-2 w-100 bd-highlight">
            <button type="button" class="btn btn-success" (click)="onCreate()">
                <i class="bi bi-window-plus"></i> Tambah Data</button>
        </div>
        <div class="p-2 w-100 bd-highlight">
            <div class="row">
                <div class="col-md-6 col-sm-6 mb-1">
                    <div *ngIf="isSearching" class="input-group">
                        <input #searchData
                            type="text"
                            name="searchData"
                            class="form-control"
                            placeholder="Cari di sini..."
                            (keyup.enter)="onSearching(searchData.value)">
                            <button class="btn btn-primary" type="button" (click)="onSearching(searchData.value)"><i class="bi bi-search"></i></button>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 mb-1">
                    <select (change)="updateYearSelected($any($event.target).value)" class="form-select" aria-label=".form-select-sm example">
                        <option 
                            *ngFor="let y of year | reverse; index as i;" 
                            [value]="y" [selected]="currentYear === y">Tahun {{ y }}</option>
                    </select>
                </div>
                <div class="col-md-2 col-sm-2">
                    <button type="button" class="btn btn-danger" placement="left" ngbTooltip="Masuk ke mode pencarian" 
                            *ngIf="!isSearching"
                            (click)="onSearchingMode()"><i class="bi bi-search"></i></button>
                    <button type="button" class="btn btn-success" placement="left" ngbTooltip="Kembali ke tampilan data berdasarkan bulan" 
                            *ngIf="isSearching"
                            (click)="onDateTimeShowData()"><i class="bi bi-calendar2-week"></i></button>
                </div>
            </div>            
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-sm mt-4 table-bordered">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Simbol Sektor</th>
                    <th scope="col">SIABIDIBAM / 5W + 1H</th>
                    <th scope="col">Keterangan</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let d of dataPeta; let i = index">
                    <td class="align-top">{{ i + 1 }}</td>
                    <td class="align-top text-center">
                        <img src="assets/images/simbol-sektor/{{ d.sektor }}.png" style="width: 150px; height: auto;" class="mx-auto d-block img-fluid img-thumbnail"/>
                        <span class="fw-bold sektor-label">{{ sektorMap[d.sektor] || d.sektor }}</span>
                    </td>
                    <td class="align-top">Bahwa pada tanggal {{ d.tanggal | date:'dd-MM-yyyy' }}, {{ d.siapa}}, {{ d.apa }}, {{ d.mengapa }}, {{ d.bagaimana }}.</td>
                    <td class="align-top">{{ d.keterangan }}</td>
                    <td class="align-top">
                        <a class="dropdown-item text-success"
                                        [routerLink]="['/data-peta', 'list', d.ids, 'form']"
                                        [queryParams]="{ edit: 1, bidang: namaBidang }">
                                        <i class="bi bi-pencil-square"></i> Ubah</a>
                        <a class="dropdown-item text-danger" (click)="openModalDelete(d.ids)" style="cursor: pointer;"><i
                                        class="bi bi-trash3-fill"></i> Hapus</a>
                    </td>
                </tr>
                <router-outlet></router-outlet>
            </tbody>
        </table>    
    </div>

    <div class="d-flex bd-highlight" style="margin-bottom: 10px;" *ngIf="dataPeta.length !== 0">
        <div class="p-2 w-100 bd-highlight">
            <ngb-pagination 
                [(page)]="pageNumber" 
                [pageSize]="pageSize" 
                [collectionSize]="totalElements" 
                [maxSize]="5"
                [boundaryLinks]="true" (pageChange)="fetchDataPeta()"></ngb-pagination>
        </div>
        <div class="p-2 flex-shrink-1 bd-highlight">
            Tampilkan:
        </div>
        <div class="p-2 bd-highlight">
            <select (change)="updatePageSize($any($event.target).value)">
                <option value="5" [selected]="pageSize === 5">5</option>
                <option value="10" [selected]="pageSize === 10">10</option>
                <option value="20" [selected]="pageSize === 20">20</option>
                <option value="50" [selected]="pageSize === 50">50</option>
            </select>
        </div>
    </div>

    <div *ngIf="dataPeta.length === 0">
        <app-no-data-alert></app-no-data-alert>
    </div>
</div>
<app-toast aria-live="polite" aria-atomic="true"></app-toast>
