<main>
    <div class="container-fluid px-4">
        <div class="d-flex bd-highlight">
            <div class="p-2 w-100 bd-highlight">
                <h2 class="mt-4"><i class="bi bi-journal-text"></i> Register Surat Keluar</h2>
            </div>
            <div class="p-2 flex-shrink-1 bd-highlight">
                <h4 class="mt-4 text-success" 
                    placement="start" 
                    ngbTooltip="Register Surat Keluar Biasa / Rahasia"
                    (click)="onOpenHelp()"
                    style="cursor: pointer;">R.IN.2</h4>
            </div>
        </div>
        <hr>
        <nav class="nav nav-pills nav-justified">
            <a class="nav-link" aria-current="page" 
                [routerLink]="['/surat-keluar', 'biasa']"
                [queryParams]="{jenisSurat: 'B'}"
                routerLinkActive="active"><i class="bi bi-journal-text"></i> Surat Keluar Biasa</a>
            <a class="nav-link"
                [routerLink]="['/surat-keluar', 'rahasia']"
                [queryParams]="{jenisSurat: 'R'}"
                routerLinkActive="active"><i class="bi bi-journal-text"></i> Surat Keluar Rahasia</a>
        </nav>
        <hr>
        <router-outlet></router-outlet>
    </div>
</main>