<main>
    <div class="container-fluid px-4">
        <div class="d-flex bd-highlight">
            <div class="p-2 w-100 bd-highlight">
                <h1 class="mt-4"><i class="bi bi-speedometer"></i> Dashboard</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active"><i class="bi bi-calendar3"></i> Data Tahun <span class="fw-bold">{{ currentYear }}</span></li>
                </ol>
            </div>
            <div class="p-2 w-25 flex-shrink-1 bd-highlight">
                <div class="row">
                    <select (change)="updateYearSelected($any($event.target).value)" name="tahun" id="tahun" class="form-select mt-5" aria-label="Default select example">
                        <option value="{{ currentYear }}" selected>Pilih Tahun</option>
                        <option *ngFor="let y of year | reverse;" 
                                [value]="y">{{ y }}</option>
                    </select>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="mt-4" *ngIf="isLoading" style="text-align: center;">
                    <app-loading-spinner></app-loading-spinner>
                </div>
                <div class="card bg-success text-white mb-4" *ngIf="!isLoading">
                    <div class="card-body">
                        <div class="row">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <i class="bi bi-journal-text"></i><span class="fw-normal"> LAPINHAR</span>
                                </div>
                                <h2>{{ countLapinhar | number:'1.' : 'it' }}</h2>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <!-- <a class="small text-white stretched-link" href="#"> -->
                            <i class="bi bi-chevron-right"></i>
                        <!-- </a> -->
                        <div class="small text-white">Laporan</div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="mt-4" *ngIf="isLoading" style="text-align: center;">
                    <app-loading-spinner></app-loading-spinner>
                </div>
                <div class="card bg-success text-white mb-4" *ngIf="!isLoading">
                    <div class="card-body">
                        <div class="row">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <i class="bi bi-journal-text"></i><span class="fw-normal"> LAPINSUS</span>
                                </div>
                                <h2>{{ countLapinsus | number:'1.' : 'it' }}</h2>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <!-- <a class="small text-white stretched-link" href="#"> -->
                            <i class="bi bi-chevron-right"></i>
                        <!-- </a> -->
                        <div class="small text-white">Laporan</div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="mt-4" *ngIf="isLoading" style="text-align: center;">
                    <app-loading-spinner></app-loading-spinner>
                </div>
                <div class="card bg-success text-white mb-4" *ngIf="!isLoading">
                    <div class="card-body">
                        <div class="row">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <i class="bi bi-journal-text"></i><span class="fw-normal"> LAPHASTUG</span>
                                </div>
                                <h2>{{ countLaphastug | number:'1.' : 'it' }}</h2>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <!-- <a class="small text-white stretched-link" href="#"> -->
                            <i class="bi bi-chevron-right"></i>
                        <!-- </a> -->
                        <div class="small text-white">Laporan</div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="mt-4" *ngIf="isLoading" style="text-align: center;">
                    <app-loading-spinner></app-loading-spinner>
                </div>
                <div class="card bg-success text-white mb-4" *ngIf="!isLoading">
                    <div class="card-body">
                        <div class="row">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <i class="bi bi-journal-text"></i><span class="fw-normal"> LAPOPSIN</span>
                                </div>
                                <h2>{{ countLapopsin | number:'1.' : 'it' }}</h2>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <!-- <a class="small text-white stretched-link" href="#"> -->
                            <i class="bi bi-chevron-right"></i>
                        <!-- </a> -->
                        <div class="small text-white">Laporan</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="mt-4" *ngIf="isLoading" style="text-align: center;">
                    <app-loading-spinner></app-loading-spinner>
                </div>
                <div class="card bg-primary text-white mb-4" *ngIf="!isLoading">
                    <div class="card-body">
                        <div class="row">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <i class="bi bi-chat-square-text-fill"></i><span class="fw-normal"> Pelayanan <br>Hukum</span>
                                </div>
                                <h2>{{ countPPH | number:'1.' : 'it' }}</h2>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#"><i class="bi bi-chevron-right"></i></a>
                        <div class="small text-white">Kegiatan</div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="mt-4" *ngIf="isLoading" style="text-align: center;">
                    <app-loading-spinner></app-loading-spinner>
                </div>
                <div class="card bg-primary text-white mb-4" *ngIf="!isLoading">
                    <div class="card-body">
                        <div class="row">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <i class="bi bi-chat-square-text"></i><span class="fw-normal"> Pengaduan <br>Masyarakat</span>
                                </div>
                                <h2>{{ countPPM | number:'1.' : 'it' }}</h2>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#"><i class="bi bi-chevron-right"></i></a>
                        <div class="small text-white">Kegiatan</div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="mt-4" *ngIf="isLoading" style="text-align: center;">
                    <app-loading-spinner></app-loading-spinner>
                </div>
                <div class="card bg-danger text-white mb-4" *ngIf="!isLoading">
                    <div class="card-body">
                        <div class="row">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <i class="bi bi-megaphone"></i><span class="fw-normal"> JMS</span>
                                </div>
                                <h2>{{ countJms | number:'1.' : 'it' }}</h2>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#"><i class="bi bi-chevron-right"></i></a>
                        <div class="small text-white">Kegiatan</div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="mt-4" *ngIf="isLoading" style="text-align: center;">
                    <app-loading-spinner></app-loading-spinner>
                </div>
                <div class="card bg-danger text-white mb-4" *ngIf="!isLoading">
                    <div class="card-body">
                        <div class="row">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <i class="bi bi-megaphone-fill"></i><span class="fw-normal"> BINMATKUM</span>
                                </div>
                                <h2>{{ countBinmatkum | number:'1.' : 'it' }}</h2>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#"><i class="bi bi-chevron-right"></i></a>
                        <div class="small text-white">Kegiatan</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>