<div *ngIf="isLoadingEditForm && isEditMode" class="mt-4" style="text-align: center;">
    <app-loading-spinner></app-loading-spinner>
</div>
<div class="alert alert-danger mt-4" *ngIf="editModeError && isEditMode" role="alert">
    {{ error }} 
    <br>
    <a 
        [routerLink]="['/ekspedisi', jenisSurat === 'RAHASIA' ? 'rahasia' : 'biasa']"
        [queryParams]="{jenisSurat: jenisSurat}" 
        class="alert-link">Kembali</a>
</div>
<div class="mt-4" style="margin-bottom: 50px;" *ngIf="!isLoadingEditForm && !editModeError">
    <div class="row">
        <div class="col-sm-10 col-md-8 col-xl-8 offset-sm-2 col-md-2 offset-xl-2">
            <strong [ngClass]="{biasa: jenisSurat === 'BIASA',
                                rahasia: jenisSurat === 'RAHASIA'}">Jenis Surat: {{ jenisSurat }}</strong>
            <hr>
            <form [formGroup]="ekspedisiForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label for="nomorSurat">Nomor Surat:</label>
                            <input 
                                type="text" 
                                name="nomorSurat" 
                                class="form-control"
                                formControlName="nomorSurat">
                        </div>
                        <small 
                            class="text-alert" 
                            *ngIf="ekspedisiForm.get('nomorSurat')?.errors?.['required'] && 
                                    ekspedisiForm.get('nomorSurat')?.touched">
                                Wajib diisi!!!</small>
                        <small 
                            class="text-alert" 
                            *ngIf="ekspedisiForm.get('nomorSurat')?.errors?.['maxlength'] && 
                                    ekspedisiForm.get('nomorSurat')?.touched">
                                Tidak boleh lebih dari 255 karakter!!!</small>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-sm-auto">
                            <div class="form-group">
                                <label for="tanggalSurat">Tanggal Surat:</label>
                                    <div class="input-group">
                                        <input
                                            type="text"
                                            name="tanggalSurat"
                                            class="form-control"
                                            placeholder="yyyy-mm-dd"
                                            formControlName="tanggalSurat"
                                            #d="ngbDatepicker"
                                            ngbDatepicker
                                            (dateSelect)="onDateTanggalSuratSelect($event)">
                                        <button class="btn btn-outline-secondary" type="button" (click)="d.toggle()">
                                            <i class="bi bi-calendar3"></i>
                                        </button>
                                    </div>
                            </div>
                            <small 
                                class="text-alert" 
                                *ngIf="ekspedisiForm.get('tanggalSurat')?.errors?.['required'] && 
                                        ekspedisiForm.get('tanggalSurat')?.touched">
                                    Wajib diisi!!!</small>
                            <small 
                                class="text-alert" 
                                *ngIf="ekspedisiForm.get('tanggalSurat')?.errors?.['minlength'] && 
                                        ekspedisiForm.get('tanggalSurat')?.touched">
                                    Minimal 10 karakter dengan format "yyyy-MM-dd" !!!</small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="kepada">Kepada:</label>
                            <textarea
                                rows="3"
                                type="text" 
                                name="kepada" 
                                class="form-control"
                                formControlName="kepada"></textarea>
                        </div>
                        <small 
                            class="text-alert" 
                            *ngIf="ekspedisiForm.get('kepada')?.errors?.['required'] && 
                                    ekspedisiForm.get('kepada')?.touched">
                                Wajib diisi!!!</small>
                        <small 
                            class="text-alert" 
                            *ngIf="ekspedisiForm.get('kepada')?.errors?.['minlength'] && 
                                    ekspedisiForm.get('kepada')?.touched">
                                Minimal 5 karakter!!!</small>
                        <small 
                            class="text-alert" 
                            *ngIf="ekspedisiForm.get('kepada')?.errors?.['maxlength'] && 
                                    ekspedisiForm.get('kepada')?.touched">
                                Tidak boleh lebih dari 255 karakter!!!</small>
                    </div>                  
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="perihal">Perihal:</label>
                            <textarea
                                rows="3"
                                type="text" 
                                name="perihal" 
                                class="form-control"
                                formControlName="perihal"></textarea>
                        </div>
                        <small 
                            class="text-alert" 
                            *ngIf="ekspedisiForm.get('perihal')?.errors?.['required'] && 
                                    ekspedisiForm.get('perihal')?.touched">
                                Wajib diisi!!!</small>
                        <small 
                            class="text-alert" 
                            *ngIf="ekspedisiForm.get('perihal')?.errors?.['minlength'] && 
                                    ekspedisiForm.get('perihal')?.touched">
                                Minimal 5 karakter!!!</small>
                        <small 
                            class="text-alert" 
                            *ngIf="ekspedisiForm.get('perihal')?.errors?.['maxlength'] && 
                                    ekspedisiForm.get('perihal')?.touched">
                                Tidak boleh lebih dari 255 karakter!!!</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="lampiran">Lampiran:</label>
                            <textarea
                                rows="3"
                                name="lampiran" 
                                class="form-control"
                                formControlName="lampiran"></textarea>
                        </div>
                        <small 
                            class="text-alert" 
                            *ngIf="ekspedisiForm.get('lampiran')?.errors?.['maxlength'] && 
                                    ekspedisiForm.get('lampiran')?.touched">
                                Tidak boleh lebih dari 255 karakter!!!</small>
                    </div>
                </div>     
                <div class="row">
                    <div class="col-sm-auto">
                        <div class="form-group">
                            <label for="tanggalTandaTerima">Tanggal Tanda Terima Surat:</label>
                                <div class="input-group">
                                    <input
                                        type="text"
                                        name="tanggalTandaTerima"
                                        class="form-control"
                                        placeholder="yyyy-mm-dd"
                                        formControlName="tanggalTandaTerima"
                                        #dps="ngbDatepicker"
                                        ngbDatepicker
                                        (dateSelect)="onDateTanggalTandaTerimaSelect($event)">
                                    <button class="btn btn-outline-secondary" type="button" (click)="dps.toggle()">
                                        <i class="bi bi-calendar3"></i>
                                    </button>
                                </div>                        
                        </div>
                        <small 
                            class="text-alert" 
                            *ngIf="ekspedisiForm.get('tanggalTandaTerima')?.errors?.['required'] && 
                                    ekspedisiForm.get('tanggalTandaTerima')?.touched">
                                Wajib diisi!!!</small>
                        <small 
                            class="text-alert" 
                            *ngIf="ekspedisiForm.get('tanggalTandaTerima')?.errors?.['minlength'] && 
                                    ekspedisiForm.get('tanggalTandaTerima')?.touched">
                                Minimal 10 karakter dengan format yyyy-MM-dd!!!</small>
                    </div>
                    <div class="col-sm-auto">
                        <div class="form-group">
                            <label for="jamTandaTerima">Jam Tanda Terima Surat:</label>
                            <input 
                                type="time"
                                name="jamTandaTerima"
                                class="form-control"
                                formControlName="jamTandaTerima">
                        </div>
                        <small 
                            class="text-alert" 
                            *ngIf="ekspedisiForm.get('jamTandaTerima')?.errors?.['required'] && 
                                    ekspedisiForm.get('jamTandaTerima')?.touched">
                                Wajib diisi!!!</small>
                        <small 
                            class="text-alert" 
                            *ngIf="ekspedisiForm.get('jamTandaTerima')?.errors?.['minlength'] && 
                                    ekspedisiForm.get('jamTandaTerima')?.touched">
                                Minimal 5 karakter dengan format HH:mm!!!</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <div class="form-group">
                            <label for="namaDanParaf">Url Nama dan Paraf:</label>
                            <textarea
                                rows="3"
                                name="namaDanParaf" 
                                class="form-control"
                                formControlName="namaDanParaf"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <div class="form-group">
                            <label for="keterangan">Keterangan:</label>
                            <textarea
                                rows="3"
                                name="keterangan" 
                                class="form-control"
                                formControlName="keterangan"></textarea>
                        </div>
                        <small 
                            class="text-alert" 
                            *ngIf="ekspedisiForm.get('keterangan')?.errors?.['maxlength'] && 
                                    ekspedisiForm.get('keterangan')?.touched">
                                Tidak boleh lebih dari 255 karakter!!!</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <div class="form-group">
                            <label for="urlFile">Link File:</label>
                            <textarea
                                rows="3"
                                name="urlFile" 
                                class="form-control"
                                formControlName="urlFile"></textarea>
                        </div>                       
                    </div>
                </div>    
                <app-danger-alert [message]="error" *ngIf="error"></app-danger-alert>
                <div class="mt-4" *ngIf="isLoading">
                    <app-loading-spinner></app-loading-spinner>
                </div>
                <div *ngIf="!isLoading">
                    <div class="d-flex justify-content-between">
                        <div class="p-2">
                            <button
                                class="btn btn-success"
                                type="submit"
                                [disabled]="!ekspedisiForm.valid"
                                style="margin-top: 20px;"><i class="bi bi-floppy"></i> Simpan</button>
                        </div>
                        <div class="p-2">
                            <button
                                class="btn btn-danger"
                                type="button"
                                (click)="onCancel()"
                                style="margin-top: 20px;"><i class="bi bi-backspace-fill"></i> Batal</button>  
                        </div>
                    </div> 
                </div>       
            </form>
        </div>
    </div>
</div>
